---
layout: default
---
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/lang.js"></script>

{% if site.data['resume-ru'] or site.data['resume-en'] %}
  <div class="lang-selector h5">
    <div class="inner">
      <a href="#" rel="en">
        {{ page.switch_lang_title[0] }}
        <i class="fa-solid fa-language"></i>
      </a>
      <a href="#" rel="ru" class="dn">
        {{ page.switch_lang_title[1] }}
        <i class="fa-solid fa-language "></i>
      </a>
    </div>
  </div>
  {% include_cached resume/index-ru.html %}
  {% include_cached resume/index-en.html %}
{% endif %}
