---
layout: default
---
{% if site.data.resume %}

    <article>
      <div class="cv">
        {% for data in site.data.resume %}
          {% if site.jsonresume and site.jsonresume.size > 0 %}
            {% unless site.jsonresume contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <div class="card shadow mt-3 p-3">
            <h3 id="{{data[0]}}">
              <span>{{ data[0] | capitalize }}</span>
              {% comment %}
                <a href="{{data[0]}}" class="anchor text-muted">
                  <i class="fas fa-hashtag"></i>
                </a>
              {% endcomment %}
            </h3>
            <div>
              {% case data[0] %}
                {% when 'basics' %}
                  {% include_cached resume/basics.html %}
                {% when 'education' %}
                  {% include_cached resume/education.html %}
                {% when 'work' %}
                  {% include_cached resume/work.html %}
                {% when 'volunteer' %}
                  {% include_cached resume/volunteer.html %}
                {% when 'projects' %}
                  {% include_cached resume/projects.html %}
                {% when 'awards' %}
                  {% include_cached resume/awards.html %}
                {% when 'skills' %}
                  {% include_cached resume/skills.html %}
                {% when 'publications' %}
                  {% include_cached resume/publications.html %}
                {% when 'languages' %}
                  {% include_cached resume/languages.html %}
                {% when 'interests' %}
                  {% include_cached resume/interests.html %}
                {% when 'certificates' %}
                  {% include_cached resume/certificates.html %}
                {% when 'references' %}
                  {% include_cached resume/references.html %}
                {% else %}

              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
{% endif %}
